@use "SASS/_reset" as *;
@use "SASS/_variables" as *;
@use "SASS/_mixins" as mixins;
@use "SASS/_footer" as *;
@use "SASS/_header" as *;
@use "SASS/about" as *;
@use "SASS/_index" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

body:has(.Dark-toggle:checked) {
  @include mixins.dark-style;
}

// Code below written by Tobias for the page book-news.html
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.3rem;
  background-color: #f9f6ee;
  color: #333;
}
body article {
}
body .flex-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin: 25px;
  background-color: #f9f6ee;
  overflow: hidden; /* Prevents content overflow */
  max-width: 100%; /* Ensures article doesn't exceed container width */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 12px #fbc8e0;
}
body .article-img {
  flex: 0 0 40%; /* Make image wider in desktop-mode */
}
body .article-img img {
  width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
  object-fit: cover; /* Too make sure that images covers all of the space */
}
body .article-text {
  flex: 1;
  padding: 20px;
  overflow-wrap: break-word; /* Breaks long words if necessary */
}
body .article-text h1 {
  font-size: 1.5rem;
  font-weight: bold;
}
body .article-text p {
  font-size: 1.3rem;
  font-weight: normal;
}

.article-text {
  text-align: left;
  padding: 0 20px; /* Adjust padding for better text-layout */
}
/* Layout changes for larger screens */
@media (max-width: 600px) {
  body .flex-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
  }
  article {
    flex-direction: row;
    gap: 15px;
  }
  .article-img {
    order: 1; /* Ensure the image is shown first */
    flex: 0 0 auto; /* Remove the fixed width */
    margin-bottom: 15px; /* Add spacing under images */
  }
  /* Layout adjustments for smaller screens */
  /* BLOCKQUOTE-STYLING */
  /* STYLING OF TABLE */
}
@media (max-width: 600px) and (max-width: 600px) {
  article {
    flex-direction: row;
  }
  .article-img {
    order: 1;
    max-width: 100%;
    margin-bottom: 15px;
  }
  .article-text {
    order: 2;
    padding: 15px; /* Adjust padding for mobile readability */
    overflow-wrap: break-word; /* Force text to break to fit within flex-item */
    word-break: break-word; /* Break long words if necessary */
  }
}
@media (max-width: 600px) {
  blockquote {
    font-weight: bolder;
    border-left: 4px #d24848;
  }
  article h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: left; /* Centering the heading */
    color: #333;
  }
  article table {
    width: 100%;
    background-color: #f9f6ee;
    border: 2px solid #d24848; /* Red main-border */
    border-collapse: collapse; /* Make sure that borders don't overlap */
    margin: 0 auto; /* Centers the table */
  }
  article table th,
  article table td {
    text-align: left; /* Left-alignment of text */
    padding: 10px;
    border: 2px solid #d24848; /* Red lines around cells */
  }
  article table th {
    font-weight: bold;
    background-color: #fff5f7; /* Background for header */
  }
  article table tr:nth-child(even) {
    background-color: #fbc8e0; /* each and other row light-pink */
  }
}
@media (max-width: 600px) and (max-width: 600px) {
  article table {
    display: block;
    overflow-x: auto; /* Makes table scrollable on smaller screens */
  }
}
// End of code above written by Tobias for the page book-news.html

html {
  height: 100vh;
  body {
    main {
      flex-grow: 1;
    }
    /* Make the body element fill the viewport */
    height: 100vh;
    /* Layout as a column, useful for header-main-footer structure */

    @include mixins.flex-column;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 1.3rem; // For responsiveness
    background-color: $background-color;
    color: $gray-color;
    // Adjust font size for smaller screens
    @media only screen and (max-width: 768px) {
      font-size: 1rem; // Smaller text on tablets
    }
    @media only screen and (max-width: 576px) {
      font-size: 0.9rem; // Smaller text on smartphones
    }
  }
}

/* MEDIA QUERYS */
/* Layout changes for smaller screens */
@media (max-width: 600px) {
  article {
    flex-direction: column;
  }

  .article-img {
    flex: 0 0 auto; /* Remove the fixed width */
    margin-bottom: 15px; /* Add spacing under images */
  }
}

/* Media query for screens larger than 720px */
@media screen and (min-width: 720px) {
  html {
    body {
      header {
        /* Light background for header on larger screens */
        background-color: #f9f6ee;
        /*shadow effect*/
        box-shadow: 2px 4px 8px #fbc8e0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        /* Hide hamburger menu on larger screens */
        label.hamburger-menu::before,
        label.hamburger-menu::after,
        label.hamburger-menu input {
          display: none;
        }

        nav {
          display: block;
          width: 100%;

          ul {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            list-style: none;

            li {
              margin: 0.25rem;
              padding: 0.25rem 0.5rem;

              a {
                color: black;
                text-align: left;
              }
            }
          }
        }

        img.Logo {
          position: relative;
          width: 10%;
          height: auto;
        }
        img.Dark-icon {
          margin-top: 0;
        }
      }
    }
  }
}

// Written by Emil Esa-Pekka Asikainen - 2024-10-24
// This code handle styling for the event section
main {
  .event-image {
    width: 60vh; // Responsive image sizing
    max-width: 100%; // Ensure it doesn't exceed the container width
    height: auto; // Maintain aspect ratio
    border-radius: 10px; // Rounded corners
    margin-bottom: 20px; // Space below the image
    margin-top: 20px; // Add space between the navbar and the image
    display: block; // Ensure it behaves like a block element
    margin-left: auto; // Center the image horizontally
    margin-right: auto; // Center the image horizontally

    // Adjust image size for smaller screens
    @media only screen and (max-width: 768px) {
      width: 50vh; // Smaller size on tablets
    }
    @media only screen and (max-width: 576px) {
      width: 40vh; // Even smaller on smartphones
    }
  }
  // Event section container
  .event-section {
    display: flex;
    flex-direction: column;
    border: 2px solid $pink-color; // Add border with Classic Rose
    padding: 20px; // Add some padding
    max-width: 800px; // Limit the width of the box
    margin: 0 auto; // Center the box horizontally
    background-color: $body-bg-color; // Use Bone-white as background for the event section
    border-radius: 10px; // Add rounded corners
    box-shadow: 0 4px 15px rgba(251, 200, 224, 0.5); // Add a pink shadow
    // Adjust layout for smaller screens
    @media only screen and (max-width: 768px) {
      padding: 15px; // Less padding on tablets
      max-width: 90%; // Shrink the width for tablets
    }
    @media only screen and (max-width: 576px) {
      padding: 10px; // Less padding on smartphones
      max-width: 95%; // Shrink the width for smartphones
    }
  }
  // Text styling and spacing between sections
  .center-box p {
    margin-bottom: 20px; // Space between paragraphs
    line-height: 1.6; // Line spacing for readability
  }
  // Booking link styling with button and image
  .booking-link {
    @include flex-center; // Center the link content
    margin-top: 20px; // Space above the button section
    text-decoration: none; // Remove underline from the link
    img {
      margin-right: 10px; // Space between image and text
    }
    p {
      display: inline-block; // Ensure text is inline with image
      background-color: $pink-color; // Use Classic Rose for background
      color: white; // White text
      padding: 10px 15px; // Padding for button
      border-radius: 5px; // Rounded corners for the button
      cursor: pointer; // Pointer cursor on hover

      // Adjust button padding for smaller screens
      @media only screen and (max-width: 768px) {
        padding: 8px 12px; // Smaller padding for tablets
      }
      @media only screen and (max-width: 576px) {
        padding: 5px 10px; // Smaller padding for smartphones
      }
      // Hover effect for button
      &:hover {
        background-color: $button-hover-color; // Change to English Vermillion on hover
        width: max-content; //Ensure the element within the border-box
        align-items: center; //Align the element within the border-box
      }
      // Hover effect for the image as well
      &:hover img {
        opacity: 0.8; // Slightly fade the image on hover
      }
    }
  }
}
// End of the code written by Emil Esa-Pekka Asikainen