@use "variables" as vars;
/* Mixin for flex-layout */
/* Use mixin for flex-layout with this code...*/

@mixin flex-layout {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 20px;
}

/* Mixin for box-shadow */
@mixin box-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 12px $shadow-color;
}

.flex-container {
  @include flex-layout;
}

/* SECTION WITH MIXINS */
/* For flex-box-layout */
@mixin flex-layout {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 20px;
}

/* Mixin for box-shadow */
@mixin box-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 12px $shadow-color;
}

/*Mixin for dark-style*/
@mixin dark-style {
  header {
    background-color: gray;
    color: black;
    border: 1px solid black;
  }
  main {
    background-color: rgb(149, 149, 149);
    color: black;
    section {
      background-color: rgb(149, 149, 149);
      color: black;
    }
    article {
      background-color: rgb(149, 149, 149);
      color: black;
    }
    p {
      background-color: rgb(149, 149, 149);
      color: black;
    }
  }
  footer {
    background-color: gray;
    color: black;
    border: 1px solid black;
  }
}
/*Mixin flex column */
@mixin flex-column {
  display: flex;
  flex-direction: column;
}

/* Mixin for flex-layout */
/* Use mixin for flex-layout  
with this code...

.flex-container {
  @include flex-layout;
} 
  
*/

/* SECTION WITH MIXINS */
/* For flex-box-layout */
@mixin flex-layout {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 20px;
}

/* Mixin for box-shadow */
@mixin box-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 12px $shadow-color;
}

// ==================
// ismail MIXINS
// ==================

// Mixin for centering flex items horizontally and vertically
@mixin mp-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Mixin for responsive images with object-fit
@mixin mp-img-style($radius, $width, $height) {
  width: $width;
  height: $height;
  object-fit: cover; // Maintain aspect ratio
  border-radius: $radius;
}

// Mixin for adding box shadows
@mixin mp-box-shadow($shadow) {
  box-shadow: $shadow;
}

// Mixin for consistent box styling
@mixin mp-box-style($padding: vars.$box-padding) {
  padding: $padding;
  border-radius: vars.$border-radius;
  @include mp-box-shadow(vars.$box-shadow);
}

// Mixin for button styling
@mixin mp-button-style(
  $bg-color: vars.$button-bg-color,
  $hover-color: vars.$button-hover-color
) {
  background-color: $bg-color;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: $hover-color;
  }
}

// Mixin for centering elements
@mixin flex-center {
  display: flex;
  justify-content: center; // Centers horizontally
  align-items: center; // Centers vertically
}
